@import "node_modules/bootstrap/scss/bootstrap.scss";

input[type="number"]{
    width: 70px;
    
}

.form-control {
    color: #869ab8;
    border: none;
    border-bottom: 1px solid transparent;
    transition: 0.2;

    &:focus{
        border-bottom: 1px solid #ced4da;
        box-shadow: none;
    }
}

body{
    font-family: "poppins";
    background-color: rgb(243, 247, 250);
    color: #2a354f;
    width: 720px;
    height: 720px;
    padding: 40px;
    overflow: scroll;
}
.green {
    color: #11ab7c;
}

.hour-divider{
    margin: 0 5px;
}
.time-divider{
    margin: 0 15px;
}

.project-overview {
    .delete-icon {
        transition: 0.2s;
        opacity: 0;
        cursor: pointer;
    }
    &:hover{
        .delete-icon{
            opacity: 1;
        }
    }        
}

.project-edit {
    .delete-icon {
        cursor: pointer;
    }  
}

.history-edit {
    .delete-icon {
        cursor: pointer;
    }  
}

@keyframes fly-in {
	0% {
		transform: scale(0.97);
		opacity: 0;
	}
	50% {
		transform: scale(1.02);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.fly-in.au-enter-active {
	animation: fly-in 0.5s;
}
.fly-out.au-leave-active {
	animation: fly-in 0.5s reverse;
}

.timestamp{
    width: 44px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-numeric: tabular-nums;
    &-right{
        text-align: right;
    }
    &-left {
        text-align: left;
    }
    &-total{
        position: absolute;
        width: 80px;
        left: calc(50% - 40px);
    }
}

.clickable-icon{
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        color:#11ab7c;
    }
}

.suggestion-container-wrapper {
    margin-top: -16px;
    overflow: hidden;
    height: 72px;
    align-items: center;
    display: flex;
    // border: 1px solid;
    position: relative;
    .suggestion-container-positioner{
        flex-grow: 1;
    }
    
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.suggestion-container {
    // border: 1px solid;
    height: 24px;
    position: relative;
}
.suggestion-container-inner {
    position: absolute;
    top: 0;
    left: 0;
}
.suggestion-container-overlay {
    position: absolute;
    width: 100%;
    pointer-events: none;
    height: 24px;
    background-color: #f3f7fabf;
    z-index: 1;
    &.overlay-1{
        top: 0px;
    }
    &.overlay-2{
        top: 48px;
    }

}

.substring-label{
    white-space: pre;
}